# Local
.DS_Store
*.local
*.log*

# Dist
node_modules
dist/
dist-*/
test-results
doc_build

# Temp files
test-temp-*
TODO.md
TODO-*.md

# IDE
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea
