:root {
  --rp-c-text-code: var(--rp-c-text-1);
}

.dark {
  --rp-c-link: var(--rp-c-brand-light);
}

/* Keep document content visually centered when a page has no sidebar. */
@media (min-width: 1280px) {
  .rp-doc-layout__sidebar-placeholder {
    width: 10vw !important;
  }
}

.rp-doc {
  .rp-link,
  .rp-link code {
    color: inherit;
    text-decoration-line: underline;
    text-underline-offset: 2px;
    text-decoration-color: rgba(0, 0, 0, 0.25);

    &:hover {
      opacity: 1;
      text-decoration-color: currentColor;
      border-bottom: none !important;
    }
  }
}

.dark {
  .rp-doc {
    .rp-link {
      text-decoration-color: rgba(255, 255, 255, 0.5);
    }

    &:hover {
      text-decoration-color: currentColor;
    }
  }
}
