@import './theme.scss';

/* Keep document content visually centered when a page has no sidebar. */
@media (min-width: 1280px) {
  .rp-doc-layout__sidebar-placeholder {
    width: 10vw !important;
  }
}

body:has(#home-hero-title) .rp-nav {
  border-bottom-color: transparent;
}

.rspress-logo {
  height: 1.8rem;
}
