.copyRight {
  margin: 0;
  color: var(--rp-c-text-2);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.8;

  a {
    color: inherit;
    white-space: nowrap;

    &:hover {
      text-decoration: underline;
    }
  }
}
